.container {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.container.row > *:not(:last-child) {
    margin-right: 8px;
}

.container.column > *:not(:last-child) {
    margin-bottom: 8px;
}

.container.center {
    justify-content: center;
}

.container.between {
    justify-content: space-between;
}

.full-w {
    width: 100%;
}

.full-h {
    height: 100%;
}
