/* RIPPLE */
.ripple {
    position: relative;
    overflow: hidden;
}

.ripple-element {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    background-color: #0000001f;
    border-radius: 50%;
    pointer-events: none;
    transition: opacity 20ms, height width 0ms cubic-bezier(0, 0, 0.2, 1);
    width: 0px;
    height: 0px;
}

.starting-position-click > .ripple-element {
    transform: translate(-50%, -50%);
}

.ripple-element-on {
    transition-duration: 250ms;
    height: 468px;
    width: 468px;
}

.button .ripple-element-on {
    transition-duration: 525ms;
}

.button-icon .ripple-element-on {
    height: 40px;
    width: 40px;
}

.ripple-element-off {
    transition-duration: 250ms;
    opacity: 0;
}

.ponto {
    width: 2px;
    height: 2px;
    background-color: #000;
}
